div{ 
  margin: 0;
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin: 0;
  padding: 0px 0px 0px 9px;
}

img{
  padding: 2px 4px 0 0;
}

a{
  margin: 0;
  padding: 0;
}

h5{
  margin: 0;
  padding: 0;

} 