#button-div{
  width: 100%;
  background-color: white;
  flex-direction: row;
  display: inline-flex;
  justify-content: space-around;
}
.external-button{
  border-collapse: separate; 
  background:linear-gradient(#003F87, #002044); 
  border-radius: 50px; 
  height: 2vh; 
  color: white;   
  min-width: 6vw;  
  font-weight: bold;  
  font-size: 0.8em;  
  margin: .4vh 0 0.59vh; 
  padding: 0.4px 9px 0 9px;  
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #001022, 0 4px 2px rgba(0, 0, 0, .5);  
  outline: 0;   
}

.external-button:hover{
  background:linear-gradient(#002044, #003F87);
}

.single-button{ 
  background: white;
  display: inline-block;
  padding: 0 4vw 0;
  border-color: white;
  margin: 0;
}