#columndiv{
  position: absolute;
  height: 90vh;
  width: 40vh;
  background: black;
  overflow: hidden;
  border: 2px white solid;
}

.columnZoomButton{
  cursor: pointer;
}

#microscopebg{
  position: absolute;
  height: 90vh;
  width: 40vh;
}

#columndivzoom{
  height: 40vh;
  width: 40vh;
  background: black;
  border: 2px white solid;
  overflow: hidden;
  position: absolute;
  top: 0vh;
  left: 20vw;
  
}

#zoomwrapperdiv{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}

#columncanvaszoom{
  width: 40vh;
  display: block;
  margin: auto;
  padding: 0;
}

#labelcanvaszoom{
  width: 40vh;
  margin: auto;
  padding: 0;
  display: block;
  /* width: 30vh; */
}


#zoomexit{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
}

#leftControllerDiv{
  position: absolute;
  top: 64.1vh;
  left: 0;
}

#rightControllerDiv{
  position: absolute;
  top: 64.1vh;
  left: 76.55vw;
}

#controlsLeft{
  width: 23.4vw;
  height: 15.184vw;
}

#controlsRight{
  width: 23.4vw;
  height: 15.184vw;
}

#filtercontroldiv{
  position: absolute;
  top: 10vh;
  left: 60vw;
}

#openfiledialogue{
  position: absolute;
  top: 22vh;
  left: 35vw;
}

#filemenu{
  position: absolute;
  top: 8.2vh;
  left: 14.5vw;
}

#openbox{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 28vw;
  max-width: 518px;
  max-height: 537px;
  overflow: hidden;
  background-color: white;
}

#openboximage{
  position: absolute;
  z-index: -1;  
  top: 2.5vh;
  left: 0.3vw;
  max-width: 28.2vw;
  max-height: 51.5vh;
  width: 28.2vw;
  height: 51.5vh;
}

#basesetup{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 26vw;
  max-width: 33vw;
  max-height: 33vw;
  overflow: hidden;
  background: black;
  
}

#basesetupbox{
  position: relative;
  width: 32.8vw;  
  height: 32.8vw;
  z-index: 2;
  border: 2px solid black;
}

.setupcanvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#setupboxcanvas{
  z-index: -2;
}
#setupboxcanvasglow{
  z-index: -1;

}

#setupcrosshair{
  position: absolute; 
  top: 6.6vw;
  left: 6vw;
  width: 21vw;
  height: 21vw;
  z-index: 1;
}

#micrographboxcanvas{
  z-index: -2;

}

#micrographboxcanvasglow{
  z-index: -1;
}

.micrographboxcanvas{
  position: absolute;
  top: 0;
  left: 0;
}

#vacuumoverview{
  position: absolute;
  top: 5.5vh;
  left: 78vw;
}

#deflectorbox{
  position: absolute;
  top: 6.79vh;
  left: 14.28vw;
}

#errordiv{
  width: 10vw;
  height: 10vh;
  position: absolute;
  top: 40vh;
  left: 40vw;
}

#directalignmentspopout{
  position: absolute;
  top: 31.9vh;
  left: 79.1vw;
}

#directalignmentspopouttext{
  position: absolute;
  top: 41px;
  left: 13px;
  height: 128px;
  width: 211px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-collapse: inital;
  line-height: 15px;
}

.highlightitem{
  padding-left: 2px;
}

.highlightitem:hover{
  color: white;
  background: #0A246A;
  cursor: pointer; 
  cursor: hand;
}

#maindropdowntext{
  height: 315px;
  width: 125px;
  font: Helvetica;
  overflow-x: hidden;
  overflow-y: hidden;
  border-collapse: inital;
  line-height: 15px;
  font-size: 11px;
}

#maindropdown{
  position: absolute;
  bottom: 19vh;
  right: 0.8vw;
  border: 1px black solid;
  background: white;
}

#diffractograms{
  position: absolute;
  z-index: -1;
  top: 11vh;
  left: 62vw;
  max-width: 33vw;
  max-height: 66vw;
  overflow: hidden;
  background: black;
}

.diffractogramcanvas{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stage {
  width: 256px;
  height: 256px;
  position: relative;
  border: 2px solid black;
}

#lecturediv {
  position: absolute;  
  top: 0vh;
  left: 59.5vw;
  overflow: hidden;
  border: 5px solid black;
}

#temlecture {
  width: 40vw;
  height: 46vh;
}

#popplaceholder {
  position: absolute;  
  top: 48vh;
  left: 59.5vw;
}

.popcontainer {
  position: absolute;
  left: -999vw;
  border: 5px solid black;
}

.popcontent {
  background-color: white;
  height: 47.7vh;
  width: 16.5vw;
}

iframe {
  resize: both;
}

#notepad {
  position: absolute;
  top: 77vh;
  left: 26vw;
  overflow: hidden;
  border: 5px solid #422000;
  background: #422000;
}

#notes {
  width: 30.5vw;
  height: 16vh;
  font-size: large;
}

#floatingstigmatordiv {
  position: absolute;
  top: 6.8vh;
  left: 79.1vw;  
}