
#microscopeGraph{
  position: absolute;
  top: 16vh;
  right: 20vw;
}
  
#controlsLeft{
  position: absolute;
  top: 66.7vh;
  left: 0;
}

#controlsRight{
  position: absolute;
  top: 66.7vh;
  right: 0;
}

#maindropdown{
  position: absolute;
  top: 55.7vh;
  right: 2.3vw;
}

#filtercontroldiv{
  position: absolute;
  top: 10vh;
  left: 60vw;
}

#openbox{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 28vw;
  max-width: 518px;
  max-height: 537px;
  overflow: hidden;
  background-color: white;
}

#openfiledialogue{
  position: absolute;
  top: 22vh;
  left: 35vw;
}

#filemenu{
  position: absolute;
  top: 9vh;
  left: 15vw;
}

#openboximage{
  position: absolute;
  z-index: -1; 
  top: 2.5vh;
  left: 0.3vw;
  max-width: 28.2vw;
  max-height: 51.5vh;
  width: 28.2vw;
  height: 51.5vh;
}

#basesetup{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 28vw;
  max-width: 518px;
  max-height: 537px;
  background-color: white;
}

#setupcrosshair{
  position: absolute; 
  width: 518px;
  height: 537px;
  z-index: 1;
}