
#microscopeGraph{
  position: absolute;
  top: 16vh;
  right: 20vw;
}
  
#controlsLeft{
  position: absolute;
  bottom: 6vh;
  left: 0;
}

#controlsRight{
  position: absolute;
  bottom: 6vh;
  right: 0;
}

#maindropdown{
  position: absolute;
  top: 53.2vh;
  right: 2vw;
}

#filtercontroldiv{
  position: absolute;
  top: 10vh;
  left: 60vw;
}

#openfiledialogue{
  position: absolute;
  top: 22vh;
  left: 35vw;
}

#filemenu{
  position: absolute;
  top: 8.2vh;
  left: 14.5vw;
}

#openbox{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 28vw;
  max-width: 518px;
  max-height: 537px;
  overflow: hidden;
  background-color: white;
}

#openboximage{
  position: absolute;
  z-index: -1;  
  top: 2.5vh;
  left: 0.3vw;
  max-width: 28.2vw;
  max-height: 51.5vh;
  width: 28.2vw;
  height: 51.5vh;
}

#basesetup{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 28vw;
  max-width: 33vw;
  max-height: 55vh;
  overflow: hidden;
  background: black;
  
}

#basesetupbox{
  position: relative;
  width: 32vw;  
  height: 54vh;
  z-index: 2;
  border: 2px solid black;
}

#setupboxcanvas{
  position: absolute;
  top: -7vh;
  left: -5vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#setupcrosshair{
  position: absolute; 
  top: 6vh;
  left: 5vw;
  width: 21vw;
  height: 42vh;
  z-index: 1;
}

#micrographboxcanvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: grey;
}

#vacuumoverview{
  position: absolute;
  top: 5.5vh;
  right: 2vw;
}