*{
  /*stops highlighting*/
  user-select: none;

  padding: 0;
  border: 0;
  margin: 0;
  border-collapse: collapse;
}

body{
  overflow: hidden;
  line-height: 0;
}

.grabbing{
  cursor: -webkit-grabbing;  
}

#grabbingdiv{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.wintext{
  font-family: 'MS Sans Serif', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#mainimage{
  height: 94.09vh;
  width: 85.67vw;
  background-color: grey;
}

.hidden{
  display: none;
}

.mainmicroscopecanvas{
  position: absolute;
  top: 6vh;
  left: 14.28vw;
}
#mainmicroscopecanvas{
  z-index: -2;
}

#mainmicroscopecanvasglow{
  pointer-events: none;
  z-index: -1;
}

#maincontent{
  position: absolute;
  z-index: -5;
  width: 10vw;
  max-height: 75vw;
}

#viewexposure{
  position: absolute;
  top: 19.6vh;
}

#acquireexposure{
  position: absolute;
  top: 39.9vh;
}

.exposureinput{
  left: 18.9vw;
  width: 2.5vw;
}

#objdisplay{
  position: absolute;
  top: 86vh;
  right: 57vw;
}

#magnificationdisplay{
  position: absolute;
  top: 88.5vh;
  left: 25.2vw;
}

#magnificationvalue{
  background-color: #fffbf0;
  font-size: xx-large;
  font-size: 1.8vw;
  font-family: monospace;
  white-space: pre;
}

#focusstepdisplay{
  position: absolute;
  top: 88.8vh;
  right: 42.75vw;
}

.mainscreenvalue{
  background-color: #fffbf0;
  font-size: x-large;
  font-size: 1.4vw;
  font-family: monospace;
  white-space: pre;
}

#spotsizedisplay{
  position: absolute;
  top: 91.6vh;
  right: 42.75vw;
}

#defocusdisplay{
  position: absolute;
  top: 86vh;
  right: 28.5vw;
}

#xdisplay{
  position: absolute;
  top: 86vh;
  right: 17vw;
}

#ydisplay{
  position: absolute;
  top: 88.8vh;
  right: 17vw;
}

#zdisplay{
  position: absolute;
  top: 91.6vh;
  right: 17vw;
}

#alphadisplay{
  position: absolute;
  top: 86vh;
  right: 3.7vw;
}

#betadisplay{
  position: absolute;
  top: 88.8vh;
  right: 3.7vw;
}

button{
  cursor: pointer;
}

.tableimage{
  height: 100%;
  width: 100%;
}

#aztecdiv{
  position: absolute;
  top:0;
  left: 14.33vw;
  width: 85.67vw;
  height: 94vh;
  background: white;
}

#aztecscreen{
  height: 80.09vh;
  width: 100%;
}

#aztecfilebar{
  height: 4.09%;
}

#aztecinfobar{
  height: 11.5vh;
}

#aztecmainimage{
  height: 74.5vh;
}

#aztecbottombar{
  height:  3.5vh;
}

#aztecsidebar{
  height: 86.1vh;
}

#aztecdropdown{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: linear-gradient(#00335D, #0C233C);
  border: 1px #527694 solid;
  border-radius: 5px;
  color: white;
}
#aztecdropdown > ul{
  list-style-type: none;
  line-height: 1em;
}

#aztecdropdown li{
  padding-left: 2px;
  padding-right: 2px;
  font-family: 'MS Sans Serif', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#aztecdropdown li:hover{
  background: linear-gradient(#6389A7, #3B81B5, #5295C8);
}