*{
  /*stops highlighting*/
  user-select: none;

  padding: 0;
  border: 0;
  margin: 0;
  border-collapse: collapse;
}

body{
  overflow: hidden;
  line-height: 0;
}

.wintext{
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#mainimage{
  height: 94.09vh;
  width: 85.67vw;
  background-color: grey;
}

.hidden{
  display: none;
}

#mainmicroscopecanvas{
  position: absolute;
  top: 6vh;
  left: 14.28vw;
  z-index: -1;
}

#maincontent{
  z-index: -5;
}