*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    

    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
}

body{
  overflow: hidden;
  line-height: 0;
}

.wintext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#extractFinal{
  position: absolute;
  top: 58.8vh;
  left: 11vw; 
  text-align: right;
}

#fegvalue{
  position: absolute;
  top: 64vh;
  left: 11.8vw;
}

#extractVal{
  position: absolute;
  top: 56.5vh;
  left: 8.9vw;
  text-align: right;
}

#gunLenseVal  {
  position: absolute;
  top: 54vh;
  left: 10vw;
}

.imageDiv{
    display:block;
}

#clock{
  position: absolute;
  white-space: nowrap;
  right: .3vw;
  bottom: 1.5vh;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.relative{
  position: relative;
}

#mainimage{
  height: 97vh;
  width: 85.67vw;
  background-color: grey;
}

.tabs{
  height: 7vh;
  width: 14.28vw;
}

#leftcolumn{
  height: 73vh;
  width: 14.28vw;
}

#leftcolvacuum{
  height: 24.33vh;
}

.leftcol{
  width: 14.28vw;
}

#leftcolumnvacuum{
  height: 21vh;
}

#leftcolumntension{
  height: 21vh;
}

#leftcolumnfegcontrol{
  height: 22vh;
}

#leftcolumnsetupfiller{
  height: 12vh;
}

#leftcolumnstage{
  height: 45vh;
}

#leftcolumnbeamsettings{
  height: 23vh;
}

#leftcolumnsearchfiller{
  height: 8vh;
}

#leftcolumnimaging{
  height: 24vh;
}

#leftcolumndetector{
  height: 24.5vh;
}

#leftcolumndirectalignments{
  height: 24vh;
}

#leftcolumnstemfiller{
  height: 3.3vh;
}

#leftcolumnstigmator{
  height: 20vh;
}

#leftcolumnfilter{
  height: 24vh;
}

#leftcolumnpeels{
  height: 24vh;
}

#leftcolumneftemstigmator{
  height: 24vh;
}

#leftcolumneftemfiller{
  height: 3.8vh;
}

#leftcolumnalignments{
  height: 50vh;
}

#leftcolumntunefiller{
  height:  6vh;
}

#leftcolumnfegregisters{
  height: 23.3vh;
}

#leftcolumnregisterfiller{
  height: 4.2vh;
}

#leftcolumndarkfield{
  height: 26.4vh;
}

#leftcolumnholography{
  height: 26.4vh;
}

#leftcolumndarkfieldfiller{
  height: 23.3vh;
}

#infopanel{
  height: 14vh;
  width: 14.28vw;
}

#filtercontroldiv{
  position: absolute;
  top: 10vh;
  left: 60vw;
}

#startmenu{
  height: 3vh;
  width: 100vw;
}

.responsive{
  height: 100vh;
  max-height: 100vh;
}

#microscopeGraph{
  position: absolute;
  top: 16vh;
  right: 20vw;
}
  
#controlsLeft{
  position: absolute;
  top: 66.7vh;
  left: 0;
}

#controlsRight{
  position: absolute;
  top: 66.7vh;
  right: 0;
}

#maindropdown{
  position: absolute;
  top: 55.7vh;
  right: 2.3vw;
}

#vacuumoverview{
  position: absolute;
  top: 25.5vh;
  right: 2vw;
}

#beamrange{
  position: absolute;
  width: 13vw;
  top: 61vh;
  left: .6vw;
}

#beamvalue{
  position: absolute;
  top: 56.8vh;
  left: 3.7vw;
}

#filtercontrol{
  position: absolute;
}

#kvval{
  position: absolute;
  top: 33vh;
  right: 87vw;
  font-size: 16px;
}

#filemenu{
  position: absolute;
  top: 9vh;
  left: 15vw;
}

#openfiledialogue{
  position: absolute;
  top: 22vh;
  left: 35vw;
}

#alignmenttext{
  position: absolute;
  top: 31.6vh;
  left: 1vw;
  max-width: 12.3vw;
  max-height: 17.8vh;
  width: 12.3vw;
  height: 17.8vh;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1em;
}

#temimage{
  position: absolute;
  z-index: -2;
  height: 150vh;
  width: 60vw;
  top: 7vh;
  left: 34vw;
}


#temmask{
  position: absolute;
  top: -155vh;
  left: -148vw;
  z-index: -1;
  width: 400%;
  height: 400%;
}

#openbox{
  position: absolute;
  z-index: 0;
  top: 11vh;
  left: 28vw;
  max-width: 28.7vw;
  max-height: 54.3vh;
  overflow: hidden;
  background-color: grey;
}

#alignmenthelp{
  position: absolute;
  top: 55.5vh;
  left: 0.8vw;
  max-width: 12.4vw;
  max-height: 11.8vh;
  width: 12.4vw;
  height: 11.8vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#openboximage{
  position: absolute;
  z-index: -1; 
  top: 2.5vh;
  left: 0.3vw;
  max-width: 28.2vw;
  max-height: 51.5vh;
  width: 28.2vw;
  height: 51.5vh;
}

.hidden{
  display: none;
}