*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    

    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
}

body{
  overflow: hidden;
}

.wintext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#extractFinal{
  position: absolute;
  top: 58.3vh;
  left: 11vw; 
  text-align: right;
}

#fegvalue{
  position: absolute;
  top: 63.4vh;
  left: 11.8vw;
}

#extractVal{
  position: absolute;
  top: 55.7vh;
  left: 8.9vw;
  text-align: right;
}

#gunLenseVal  {
  position: absolute;
  top: 53.2vh;
  left: 10vw;
}

.imageDiv{
    display:block;
}

#clock{
  position: absolute;
  white-space: nowrap;
  right: .5vw;
  bottom: .7vh;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.relative{
  position: relative;
}

#mainimage{
  height: 97vh;
  width: 85.67vw;
}

.tabs{
  height: 7vh;
  width: 14.28vw;
}

#leftcolumn{
  height: 73vh;
  width: 14.28vw;
}

#leftcolvacuum{
  width: 14.28vw;
  height: 24.33vh;
}

.leftcol{
  width: 14.28vw;
}

#leftcolumnvacuum{
  height: 21vh;
}

#leftcolumntension{
  height: 21vh;
}

#leftcolumnfegcontrol{
  height: 22vh;
}

#leftcolumnsetupfiller{
  height: 12vh;
}

#leftcolumnstage{
  height: 45vh;
}

#leftcolumnbeamsettings{
  height: 23vh;
}

#leftcolumnsearchfiller{
  height: 8vh;
}

#leftcolumnstigmator{
  height: 20vh;
}

#leftcolumnalignments{
  height: 50vh;
}

#leftcolumntunefiller{
  height:  6vh;
}

#infopanel{
  height: 14vh;
  width: 14.28vw;
}

#startmenu{
  height: 3vh;
  width: 100vw;
}

.responsive{
  height: 100vh;
  max-height: 100vh;
}

#microscopeGraph{
  position: absolute;
  top: 16vh;
  right: 20vw;
}
  
#controlsLeft{
  position: absolute;
  top: 66.7vh;
  left: 0;
}

#controlsRight{
  position: absolute;
  top: 66.7vh;
  right: 0;
}

#maindropdown{
  position: absolute;
  top: 55.7vh;
  right: 2.3vw;
}

#vacuumoverview{
  position: absolute;
  top: 25.5vh;
  right: 2vw;
}

#beamrange{
  position: absolute;
  width: 13vw;
  top: 61vh;
  left: .6vw;
}

#beamvalue{
  position: absolute;
  top: 55.8vh;
  left: 3.7vw;
}

#filtercontrol{
  position: absolute;
}

#kvval{
  position: absolute;
  top: 31vh;
  right: 87vw;
  font-size: 16px;
}

#filemenu{
  position: absolute;
  top: 9vh;
  left: 15vw;
}

#openfiledialogue{
  position: absolute;
  top: 22vh;
  left: 35vw;
}


#testimage{
  position: absolute;
  z-index: -1;
  top: 10vh;
  left: 35vw;
}

#alignmenttext{
  position: absolute;
  top: 31.6vh;
  left: 1vw;
  max-width: 12.3vw;
  max-height: 17.8vh;
  width: 12.3vw;
  height: 17.8vh;
  overflow-y: scroll;
  overflow-x: hidden;
}