#extractFinal{
  position: absolute;
  top: 84px;
  left: 170px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 12px;
}

#extractVal{
  position: absolute;
  top: 59px;
  left: 152px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 11px;  
}

#gunLenseVal  {
  position: absolute;
  top: 30px;
  left: 168px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.testButton{
  border: red solid 10px;
}


*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    
}

.imageDiv{
    display:block;
    padding: 0;
    margin: 0;
}

.imageBox{
  position: relative;
}
