*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    

    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
}

body{
  overflow: hidden;
}

.wintext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#extractFinal{
  position: absolute;
  top: 57.3vh;
  left: 11vw; 
  text-align: right;
}

#fegvalue{
  position: absolute;
  top: 62.4vh;
  left: 11.8vw;
}

#extractVal{
  position: absolute;
  top: 54.7vh;
  left: 9.2vw;
  text-align: right;
}

#gunLenseVal  {
  position: absolute;
  top: 52.2vh;
  left: 10vw;
}

.imageDiv{
    display:block;
}

#content{
  margin: 0;
}

#clock{
  position: absolute;
  white-space: nowrap;
  right: .5vw;
  bottom: .7vh;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.relative{
  position: relative;
}

#mainimage{
  height: 97vh;
  width: 85.67vw;
}

#tabs{
  height: 6vh;
  width: 14.28vw;
}

#leftcolumn{
  height: 73vh;
  width: 14.28vw;
}

#leftcolvacuum{
  width: 14.28vw;
  height: 24.33vh;
}

.leftcol{
  width: 14.28vw;
}

#leftcolumnvacuum{
  height: 21vh;
}

#leftcolumntension{
  height: 21vh;
}

#leftcolumnfegcontrol{
  height: 34vh;
}

#infopanel{
  height: 15vh;
  width: 14.28vw;
}

#startmenu{
  height: 3vh;
  width: 100vw;
}

.responsive{
  height: 100vh;
  max-height: 100vh;
}

#microscopeGraph{
  position: absolute;
  top: 16vh;
  right: 20vw;
}
  
#controlsLeft{
  position: absolute;
  top: 66.7vh;
  left: 0;
}

#controlsRight{
  position: absolute;
  top: 66.7vh;
  right: 0;
}

#maindropdown{
  position: absolute;
  top: 55.7vh;
  right: 2.3vw;
}

#vacuumoverview{
  position: absolute;
  top: 25.5vh;
  right: 2vw;
}

#searchcontent{
  position: absolute;
  top: 54vh;
  left: 1vw;
}

#beamrange{
  position: absolute;
  width: 13vw;
  top: 1vh;
}

#beamvalue{
  position: absolute;
  top: -5vh;
  left: 3.2vw;
}

#filtercontrol{
  position: absolute;
}

#kvval{
  position: absolute;
  top: 31vh;
  right: 87vw;
  font-size: 16px;
}

#filemenu{
  position: absolute;
  top: 9vh;
  left: 15vw;
}

#openfiledialogue{
  position: absolute;
  top: 22vh;
  left: 35vw;
}
