#extractFinal{
  position: absolute;
  top: 90px;
  left: 166px;
  height: 40px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 12px;
}

#extractVal{
  position: absolute;
  top: 69px;
  left: 160px;
  width: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 11px;  
}

#gunLenseVal  {
  position: absolute;
  top: 40px;
  left: 178px;
  height: 40px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#extractSubmit{
  border: red solid 10px;
}