*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    
}

#extractFinal{
  position: absolute;
  top: 75px;
  left: 190px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 12px;
}

#extractVal{
  position: absolute;
  top: 52px;
  left: 180px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 11px;  
}

#gunLenseVal  {
  position: absolute;
  top: 29px;
  left: 190px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.testButton{
  border: red solid 10px;
}

.imageDiv{
    display:block;
}

#content{
  margin: 15px 0 0 15px;
}

#clock{
  position: absolute;
  margin: 5px 0 0 0;
  white-space: nowrap;
  left:1830px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.relative{
  position: relative;
}

#tabs{
  height: 6.681vh;
  width: 14.28vw;
}

#startmenu{
  height: 2.4735vh;
  width: 98.2vw;
}

#leftcolumn{
  height: 42.152vh;
  width: 14.28vw;
}

#mainimage{
  height: 95.5vh;
  width: 83.7vw;
}

#fegcontrols{
  height: 20.7377vh;
  width: 14.28vw;
}

#infopanel{
  height: 24.7vh;
  width: 14.28vw;
}

.responsive{
  height: 100vh;
  max-height: 100vh;
}

#controls{


}

#controlsLeft{
  position: absolute;
  top: 600px;
  left: 0;
}

#controlsRight{
  position: absolute;
  top: 600px;
  right: 0;
}