*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    
}

#extractFinal{
  position: absolute;
  top: 54.5vh;
  left: 10vw; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 12px;
}

#extractVal{
  position: absolute;
  top: 52.7vh;
  left: 9.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 11px;  
}

#gunLenseVal  {
  position: absolute;
  top: 50.3vh;
  left: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.testButton{
  border: red solid 10px;
}

.imageDiv{
    display:block;
}

#content{
  margin: 0;
}

#clock{
  position: absolute;
  margin: 5px 0 0 0;
  white-space: nowrap;
  right: 1.9vw;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.relative{
  position: relative;
}

#mainimage{
  height: 95.2vh;
  width: 83.7vw;
}

#tabs{
  height: 6vh;
  width: 14.28vw;
}

#leftcolumn{
  height: 71vh;
  width: 14.28vw;
}

#infopanel{
  height: 17vh;
  width: 14.28vw;
}

#startmenu{
  height: 2.4735vh;
  width: 98.2vw;
}

.responsive{
  height: 100vh;
  max-height: 100vh;
}

#microscopeGraph{
  position: absolute;
  top: 16vh;
  right: 20vw;
}
  
#controlsLeft{
  position: absolute;
  top: 66.7vh;
  left: 0;
}

#controlsRight{
  position: absolute;
  top: 66.7vh;
  right: 0;
}

#maindropdown{
  position: absolute;
  top: 55vh;
  right: 3.5vw;
}

#vacuumoverview{
  position: absolute;
  top: 25.5vh;
  right: 2vw;
}

#searchcontent{
  position: absolute;
  top: 54vh;
  left: 1vw;
}

#beamrange{
  width: 13vw;
  position: absolute;
  top: 1vh;
}

#beamvalue{
  position: absolute;
  top: -4.7vh;
  left: 3vw;
}

#filtercontrol{
  position: absolute;
  
}