#extractFinal{
  position: absolute;
  top: 94px;
  left: 170px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 12px;
}

#extractVal{
  position: absolute;
  top: 69px;
  left: 152px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 11px;  
}

#gunLenseVal  {
  position: absolute;
  top: 40px;
  left: 168px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.testButton{
  border: red solid 10px;
}

#clock{
  position: absolute;
  top:7px;
  left:1635px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

}


*{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    
}

.imageDiv{
    display:block;
}

.imageBox{
  position: relative;
}

#content{
  margin: 15px 0 0 15px;
}

#left-col{
  width: 13.5%;
  float: left;
}

#right-col{
  float: left;
  width: 80%;
}